*,*::after,*::before
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}.parent
{
  width: 100%;
  height: 100%;
}
.background
{
  background: rgb(0, 35, 102);
  width: 100%;
  height: 400px;
  color: white;
}


/* @media (max-width: 600px) {
  .background {
    padding: 10px; 
  }
}

@media (min-width: 1200px) {
  .background {
    padding: 0px;
  }
} */


h1
{
  padding: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.box
{
  width: 90%;
  max-width: 1150px;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Vertically center items */
  align-items: center; /* Horizontally center items */
  
  
  background: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Smooth box shadow */
  transition: box-shadow 0.3s ease; /* Transition effect for smoothness */
  border: 1px solid rgb(226, 221, 221);
  border-radius: 10px;
}
.box:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4); /* Adjusted box shadow on hover */
}

.app-bar {
  width: 100%; 
  background: rgb(230, 225, 225);
  padding: 30px;
  font-size: 18px;
  
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

nav ul li {
  display: inline;
 
}

nav ul li a {
  color: blue;
  text-decoration: none; 
}

nav ul li a:hover {
  text-decoration: underline; 
}


.stacking
{
  background-color: red;
  width: 100%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content:space-around;
  padding: 50px;
}

.amountDiv, .fromDiv, .toDiv
{
  background-color: white;
  padding: 10px;
}
.amount, .from, .to
{
  color: black;
  text-align: left;
}

select
{
  background-color: blue;
  /* min-width: 200px;
  max-width: 300px; */
  width: 100%;
  min-width: 250px;
  border-radius: 10px;
  padding:10px;
  font-size: 16px;
}

input
{
  background-color: orange;
  min-width: 250px;
  width: 100%;
  /* min-width: 200px;
  max-width: 300px; */
  border-radius: 10px;
  padding:10px;
  font-size: 16px;
}

/* .resultValue
{
display: flex;
text-align: left;
justify-content: left;
} */

.inputspan
{
  background-color: brown;
  display: flex;
  text-align: left;
  justify-content: left;
  color: black;
  font-size: 20px;
}
.equalto
{
  left: 20%;
  background-color: blue;
  color: black;
}
.outputspan
{
  background-color: brown;
  color: black;
  font-size: 25px;
  font-weight: bold;
}



/* button
{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 200px;
  display: block;
  background-color: blue;
  color: white;
  border-radius: 15px;
  border: 0;
  margin: 0 auto;
} */


