
@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.parent {
  width: 100%;
  height: 100%;
}

.background {
  background: rgb(0, 35, 102);
  width: 100%;
  height: 400px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


/* @media (max-width: 600px) {
  .background {
    padding: 10px; 
  }
}

@media (min-width: 1200px) {
  .background {
    padding: 0px;
  }
} */


h1 {
  padding: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.box {
  width: 90%;
  max-width: 1150px;
  /* height: 50%; */
  /* max-height: 700px; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Vertically center items */
  align-items: center;
  /* Horizontally center items */


  background: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  /* Smooth box shadow */
  transition: box-shadow 0.3s ease;
  /* Transition effect for smoothness */
  border: 1px solid rgb(226, 221, 221);
  border-radius: 10px;
}

.box:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  /* Adjusted box shadow on hover */
}
.convert-fn
{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.app-bar {
  width: 100%;
  background: rgb(201, 213, 233);
  padding: 0px;
  font-size: 18px;
  color: black;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

nav ul li {
  display: inline;

}

nav ul li a {
  color: blue;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li a:active {
  color: yellow;
}

li {
  text-align: center;
  width: 100%;
  line-height: 50px;
  height: 50px;
  /* background-color: red; */
}

.activeLi {
  background-color: white;
}



.stacking {
  /* background-color: red; */
  width: 100%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding: 30px;
}

.amountDiv,
.fromDiv,
.toDiv {
  /* background-color: white; */
  padding: 10px;
}

.amount,
.from,
.to {
  color: black;
  text-align: left;
}

select {
  /* background-color: blue; */
  /* min-width: 200px;
  max-width: 300px; */
  width: 100%;
  min-width: 250px;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0px 0px 20px rgba(96, 92, 92, 0.2);
  /* Smooth box shadow */

}

input {
  /* background-color: orange; */
  min-width: 250px;
  width: 100%;
  /* min-width: 200px;
  max-width: 300px; */
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  /* Smooth box shadow */
}

.resultValue {
  /* background-color: aqua; */
  width: 100%;
  padding: 40px;
}

.inputspan {
  /* background-color: brown; */
  display: flex;
  text-align: left;
  justify-content: left;
  color: black;
  font-size: 20px;
}

.equalto {
  left: 20%;
  /* background-color: blue; */
  color: black;
}

.outputspan {
  /* background-color: brown; */
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.buttonDiv {
  /* background-color: yellow; */
  width: 100%;
  height: 25%;
  padding: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}


/* button {
  padding: 10px;
  width: 200px;
  display: block;
  border: 1px solid black;
  background-color: rgb(106, 106, 242);
  color: black;
  border-radius: 15px;
  border: 0;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

} */

.historical {
  width: 90%;
  padding: 10px;
  display: flex;
  background-color: aqua;
  /* overflow: auto; */
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.historical-split 
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#datePicker {
  display: block;
  background-color: white;
  color: black;
  border-radius: 15px;
  border: 0;
}

.infoText{
  align-self: flex-start;
  color: black;
  margin: 5px;
}
.infoTextOfRates
{
  align-self: flex-start;
  color: black;
  margin: 5px;
}

.dateRanges
{
  /* background-color: blue; */

}
.from-to
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.dateRanges DateRangePicker
{
}
.dateRangesList
{
  color: black;
}

.multiResult{
  margin-left: 20px;
}

.eachDayResult
{
  margin-left: 20px;
}